<h1>Edit your race here</h1>

<form action="/races/<%= @race.id %>" method="post">
  <label for="date">Date*</label>
  <input type="text" name="date" value="<%= @race.date %>">
  <br></br>
  <label for="time">Time*</label>
  <input type="text" name="time" value="<%= @race.time %>">
  <br></br>
  <label for="food">Food served at race</label>
  <input type="text" name="food" value="<%= @race.food %>">
  <br></br>
  *Required fields
  <br></br>
  <input type="submit" id="submit" value="Edit Race">
</form>
