
<h3>Add a New City:</h3>

<form action="/cities" method="post">
  City: <input type="text" name="city[name]">*
  State: <input type="text" name="city[state]">*
  <br></br>
  *Required fields
  <br></br>
  <input type="submit" id="submit" value="Add City" style="height:60px; width:100px">
</form>
